[submodule "Aquila"]
	path = Aquila
	url = ../Aquila
[submodule "EagleEye/dependencies/nodeeditor"]
	path = EagleEye/dependencies/nodeeditor
	url = http://github.com/dtmoodie/nodeeditor
[submodule "plugins/bio/dependencies/fmt"]
	path = plugins/bio/dependencies/fmt
	url = https://github.com/fmtlib/fmt
[submodule "plugins/aqgputracking/dependencies/GPU-tracking"]
	path = plugins/aqgputracking/dependencies/GPU-tracking
	url = https://github.com/denismerigoux/GPU-tracking
[submodule "plugins/aqdlib/dependencies/dlib"]
	path = plugins/aqdlib/dependencies/dlib
	url = https://github.com/davisking/dlib
