[submodule "EagleLib/RCC"]
	path = EagleLib/RCC
	url = https://dtmoodie@github.com/dtmoodie/RuntimeCompiledCPlusPlus
[submodule "Plugins/fastms"]
	path = Plugins/fastms
	url = https://dtmoodie@github.com/dtmoodie/fastms
[submodule "EagleLib/parameters"]
	path = EagleLib/parameters
	url = https://github.com/dtmoodie/parameters
